body {
  background-color: #eeeeee;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  color: #00adb5;
  font-family: 'Lobster','Merriweather Sans', sans-serif;
}

h2 {
  color: #eeeeee;
}

/* Title Section editors */
.navbar{
  color: #eeeeee;
  font-size: 2rem;
  padding-bottom: 15px;

}

.navbar-brand{
  font-weight: bold;
  font-size: 2rem;
}

.navbar-dark .navbar-brand {
    color: #00adb5;
}

.navbar-dark .navbar-brand:hover {
  color: #00f2ff;
}

.nav-link{
  padding: 5px;
}

.navbar-dark .navbar-nav .nav-link {
  color:#eeeeeeee;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color:#eeeeee63;
}

#title {
  background-color: #393e46;
  font-family: 'Lobster','Merriweather Sans', sans-serif;
}

.title-h1 {
  margin-top: 15%;
  font-size: 5.5rem;
  text-align: center;
}

.title-h2 {
  font-size: 2.75rem;
  text-align: center;
  margin-bottom: 20%;
}

.container-fluid {
  padding: 3% 15%;
}

.title-img {
  height: 550px;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.title-icons {
  width: 100px;
}
.icons{
text-align: center;
}

.btn{
  display: block;
  margin: 10px;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.50)
}

.btn:hover{
  box-shadow: 0 0px 8px 1px #00f2ff, 0 6px 20px 0 rgba(0,0,0,0.90);
}

/* about section editors */

.card{
  background-color: #393e46;
  color: #eeeeee;
  border-color: #00adb5;
  border-width: thick;
  padding: 10px;
  margin: 20px;
}

.card.clickable:hover{
  box-shadow: 0 0px 8px 1px #00adb5, 0 6px 20px 0 rgba(0, 0, 0, 0.90);
}

.card-title{
  color: #00adb5;
  font-size: 3rem;
}

.card-img-top{
  width: 100px;
  display: block;
  margin: auto;
}
