body {
  background-color: #eeeeee;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.5rem;
}

h1 {
  color: #00adb5;

}

h2 {
  color: #00adb5;
}

.title-h2{
  color: #eeeeee;
}

/* Title Section editors */
.navbar{
  color: #eeeeee;
  font-size: 2rem;
  font-family: 'Lobster','Merriweather Sans', sans-serif;
}

.navbar-brand{
  font-weight: bold;
  font-size: 2rem;
}

.navbar-dark .navbar-brand {
  color: #00adb5;
}

.navbar-dark .navbar-nav .nav-link {
  color:#eeeeeeee;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color:#00adb5;
}

#mainTitle{
  font-size: 5.5rem;
  font-weight: 500;
  font-family: 'Lobster','Merriweather Sans', sans-serif;
}

#title {
  background-color: #393e46;
}

.title-h1 {
  margin-top: 5%;
  font-size: 4.5rem;
  text-align: center;

}

.title-h2 {
  font-size: 2.75rem;
  text-align: center;
  margin-bottom: 10%;
}

.container-fluid {
  padding: 3% 7.5%;
}

.btn:hover{
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn{
  display: block;
}

/* about section editors */

.card{
  background-color: #393e46;
  color: #eeeeee;
  border-color: #00adb5;
  border-width: thick;
  padding: 20px;
  margin: 20px;
}

.card.clickable:hover{
  box-shadow: 0 0px 8px 1px #00adb5, 0 6px 20px 0 rgba(0, 0, 0, 0.90);
}

.card-title{
  font-family: 'kalam','Merriweather Sans', sans-serif;
  color: #00adb5;
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
}

.card-img-top{
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}
